In [38]:
import statsmodels
import pandas as pd #data analysis and data manipulation
import numpy as np #numerical computations
import matplotlib.pyplot as plt  #for data visualization

In [39]:
%matplotlib inline

In [40]:
df=pd.read_csv('datafiles/claimants.csv')
df

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
5          97         0     1.0       1.0       0.0    35.0   0.309
6          10         0     0.0       1.0       0.0     9.0   3.538
7          36         0     1.0       1.0       0.0    34.0   4.881
8          51         1     1.0       1.0       0.0    60.0   0.874
9          55         1     0.0       1.0       0.0     NaN   0.350
10         61         0     1.0       1.0       0.0    37.0   6.190
11        148         0     0.0       1.0       0.0    41.0  19.610
12        150         1     0.0       1.0       0.0     7.0   1.678
13        150         0     1.0       1.0       0.0    40.0   0.673
14        169         1     1.0       1.0       0.0    37.0   0.143
15        171         1     1.0       0.0       0.0     9.0   0.053
16        334         1     1.0       1.0       0.0    58.0   0.050
17        360         0     0.0       1.0       0.0    58.0   0.758
18        376         1     0.0       1.0       0.0     3.0   0.000
19        401         0     1.0       1.0       0.0    38.0   4.754
20        479         0     0.0       NaN       0.0    37.0   3.100
21        480         1     1.0       1.0       0.0    39.0   0.130
22        550         0     0.0       0.0       0.0    38.0  16.161
23        569         0     0.0       NaN       0.0    30.0   0.609
24        580         1     0.0       1.0       0.0    54.0  10.040
25        608         1     1.0       1.0       0.0     3.0   0.787
26        603         1     0.0       1.0       0.0    61.0   0.150
27        606         0     0.0       1.0       0.0     0.0   0.405
28        607         1     0.0       1.0       0.0    40.0   0.405
29        630         0     0.0       1.0       0.0     NaN   0.595
...       ...       ...     ...       ...       ...     ...     ...
1310    33607         0     1.0       1.0       0.0    40.0   0.905
1311    33614         0     0.0       1.0       0.0    40.0   5.168
1312    33661         0     1.0       1.0       0.0    45.0  14.884
1313    33687         1     1.0       1.0       0.0     7.0   0.986
1314    33697         1     0.0       1.0       0.0     7.0   0.107
1315    33741         0     0.0       1.0       0.0     8.0   1.105
1316    33744         1     1.0       0.0       NaN    10.0   0.158
1317    33750         0     0.0       1.0       0.0     7.0   3.535
1318    33759         1     1.0       1.0       0.0     NaN   0.070
1319    33778         1     0.0       1.0       0.0    34.0   0.763
1320    33840         1     1.0       1.0       0.0     NaN   0.540
1321    33858         0     0.0       1.0       0.0     NaN   3.437
1322    33865         1     1.0       1.0       0.0     1.0   0.080
1323    33881         0     1.0       1.0       0.0     9.0   5.460
1324    33883         0     0.0       1.0       0.0    10.0   6.564
1325    34000         0     1.0       1.0       0.0     9.0   3.169
1326    34035         0     1.0       1.0       0.0     7.0   0.688
1327    34050         0     1.0       1.0       0.0    70.0   0.505
1328    34055         0     0.0       1.0       0.0    14.0   0.400
1329    34085         1     1.0       1.0       0.0    33.0   0.535
1330    34011         1     0.0       1.0       0.0    33.0   6.817
1331    34030         0     1.0       1.0       0.0     3.0   0.950
1332    34066         1     1.0       1.0       0.0     9.0   0.000
1333    34089         1     0.0       1.0       0.0    49.0   0.000
1334    34104         1     1.0       1.0       0.0    16.0   0.060
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [41]:
df.shape

(1340, 7)

In [42]:
#removing casenum
df1=df.drop(['CASENUM'],axis=1,inplace=False)
df1.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [67]:
x=df1.iloc[:,1:]
x.head()

   CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0     0.0       1.0       0.0    50.0  34.940
1     1.0       0.0       0.0    18.0   0.891
2     0.0       1.0       0.0     5.0   0.330
3     0.0       1.0       1.0    31.0   0.037
4     0.0       1.0       0.0    30.0   0.038

In [68]:
y=df1.iloc[:,1]
y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: CLMSEX, dtype: float64

In [69]:
# filling the missing value with most occuring value    
df1.iloc[:,:] = df1.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[1]))
#claimants3.SEATBELT = claimants1.SEATBELT.fillna(claimants1.SEATBELT.value_counts().index[0])
df1.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [72]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1072, 5)
(268, 5)
(1072,)
(268,)

In [75]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [76]:
pred=reg.predict(x_test)
pred

array([1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       1., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0.,
       1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1.])

In [77]:
np.mean(y_test==pred)

1.0